@media screen and (max-width: 600px) { 

    .Nav {
        display: flex;
        gap: 9em;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    
    .Nav-Two {
        display: none;
    }
    

    .Nav-Three {
        display: block;
        justify-content: center;
       padding-top: 10px;
        background-color: black;
        height: 5em;
        align-items: center;
        visibility: hidden;
     
    }

    .Nav-Three.overlay {
        visibility: visible;
    }

    .Nav-Three > a {
        color: white;
    }

    #icon {
        display: block;
        margin-top: 0px;
        cursor: pointer;
    }

    .Main {
        display: grid;
        place-content: center;
        margin-top: -60px;
    }

    .slider {
        width: 20em;
        height: 30em;

    }

    .sliderIcon {
        margin-top: -20em;
        padding: 40px;
        display: flex;
        justify-content: space-between;
    }

    .mainHead {
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 20px;
        text-align: start;
        padding-left: 22px;
    }
    
    .backIcon {
        padding-left: 22px;
        margin-bottom: 30px;
        color: #2B283A;
    }
    
    .Location {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .socials {
       font-size: 22px;
       width: 2.5em;
       height: 2em;
    }

    .socialMedia {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0em;
    }
    
    figcaption {
        display: block;
        width: 15em;
    }

    .HeroBody > p  {
        width: 20em;
        line-height: 2em;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    .firstHeading {
        margin-left: 1em;
        font-size: 20px;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 20em;
        height: 20em;
        object-fit: cover;
    }
    
    .socialMediaTwo {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(196, 196, 196);
        margin-top: 30px;
    }

    .socialsTwo {
        border: 1px solid rgb(226, 226, 226);
        padding-left: 20px;
        font-size: 10px;
        padding-right: 20px;
        width: 10em;
       
    }

    .NewsLetter > h1 {
        font-size: 25px;
    }

    .NewsLetter > p {
        width: 20em;
        line-height: 30px;
        text-align: center;
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    input {
        width: 12em;
        height: 2em;
        padding: 10px;
    }
    
    button {
        width: 8em;
        color: white;
        outline: none;
        border: none;
        padding: 10px;
        height: 3.8em;
        background-color: black;
        cursor: pointer;
    }

    .footer {
        width: 100%;
        height: 35em;
    }

    .footer > h1 {
        font-size: 25px;
    }
    

    .footer > p {
        font-size: 15px;
    }
    

    .text {
        margin-top: 20px;
        margin-bottom: 30px;
        width: 20em;
        overflow-x: hidden;
        font-size: 15px;
    }
}