@media screen and (max-width: 600px) { 

    .Nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9em;
        padding-left: 20px;
       position: sticky;
        top: 0%;
    }
    
    .Nav-Two {
        display: none;
    }
    

    .Nav-Three {
        display: block;
        justify-content: center;
       padding-top: 15px;
        background-color: black;
        height: 7em;
        align-items: center;
        visibility: hidden;
     line-height: 2em;
     margin-bottom: -120px;
    }

    .Nav-Three > a {
        color: white;
    }

    .Nav-Three.overlay {
        visibility: visible;
    }
    
    #icon {
        display: block;
        margin-top: 0px;
        cursor: pointer;
    }
 
    h1 {
        width: 12em;
        font-size: 22px;
    }

    .Title-Head {
        display: flex;
        align-items: center;
        gap: 1px;
    }
    
    .Hero {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
    }

    img {
  display: none;
}

.Author-Profile {
    display: block;
}

    .Hero-Detail {
        font-size: 15px;
        width: 21em;
        font-family: 'Inter', sans-serif;
        color: #2B283A;
        line-height: 25px;
        margin-top: -30px;
    }
    
}